@use '../abstracts/variables';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: variables.$fs-regular;
    font-weight: variables.$fw-400;
}

.home__logo {
    font-weight: variables.$fw-700;
    font-size: 1.3rem;
    color: variables.$clr-font-dark-100;

    .logo-span {
        color: variables.$clr-accent;
    }
}