//font weight
$fw-400: 400;
$fw-700: 700;

//font size
$fs-xs: 0.7rem;
$fs-small: 0.9rem;
$fs-regular: 1rem;
$fs-medium: 1.1rem;
$fs-large: 1.5rem;
$fs-xlarge: 2rem;

//color for background
$clr-accent: rgb(95, 116, 204);
$clr-accent-darker: #5E699A;
$clr-dark-100: #17191C;
$clr-dark-80: rgb(38, 44, 51);
$clr-dark-60: #EFD9D9;
$clr-dark-50: rgb(232, 232, 232);
$clr-dark-30: rgb(248, 248, 248);
$clr-light: rgb(255, 255, 255);

//color for background hover
$clr-accent-hover: rgb(157, 169, 219);
$clr-dark-50-hover: rgb(243, 239, 239);

//color for font
$clr-font-dark-100: rgb(37, 36, 36);
$clr-font-dark-80: #494747;
$clr-font-dark-60: rgb(112, 112, 112);
$clr-font-dark-50: #BCBCBC;
$clr-font-0: rgb(255, 255, 255);
$clr-font-accent: rgb(95, 116, 204);


//color for button
$clr-btn-primary: rgb(102, 159, 217);
$clr-btn-danger: rgb(205, 73, 73);
$clr-btn-success: rgb(84, 184, 126);

$clr-btn-primary-hover: rgb(157, 169, 219);
$clr-btn-danger-hover: rgb(229, 99, 99);
$clr-btn-success-hover: rgb(110, 216, 154);


//basic color
$clr-primary: rgb(102, 159, 217);
$clr-danger: rgb(217, 110, 110);
$clr-success: rgb(138, 221, 138);
$clr-warning: rgb(214, 214, 103);

//basic color for font
$clr-font-primary: rgb(95, 116, 204);
$clr-font-danger: rgb(178, 34, 34);
$clr-font-success: rgb(46, 139, 87);
$clr-font-warning: rgb(187, 187, 87);
$clr-font-secondary: rgb(112, 112, 112);