//font weight
$fw-400: 400;
$fw-700: 700;

//font size
$fs-small: 0.8rem;
$fs-regular: 1rem;
$fs-medium: 1.1rem;
$fs-large: 1.5rem;

//color for background
$clr-accent: rgb(95, 116, 204);
$clr-dark: rgb(38, 44, 51);
$clr-dark-50: rgb(232, 232, 232);
$clr-light: rgb(255, 255, 255);

//color for background hover
$clr-accent-hover: rgb(157, 169, 219);
$clr-dark-50-hover: rgb(243, 239, 239);

//color for font
$clr-font-dark: rgb(37, 36, 36);
$clr-font-light: rgb(112, 112, 112);
$clr-font-0: rgb(255, 255, 255);
$clr-font-accent: rgb(95, 116, 204);