@use '../abstracts/variables';

.home-card {
    &__auth__cont {
        display: flex;
        margin-bottom: 4rem;

        img {
            display: none;
        }

        .home-card__p {
            margin: 0;
        }
    }

    &__resend {
        display: block;
        margin-top: 3rem;
    }
}

@media (min-width: 24em) {
    .home-card__auth__cont {
        img {
            display: block;
            margin-right: 2rem;
        }
    }
}