@use '../abstracts/variables';

.home-card {
    &__account__img {
        position: relative;
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__account__cont {
        display: flex;
    }

    &__account {
        margin-block: auto;
        margin-left: 1.5rem;
    }

    &__name {
        font-size: variables.$fs-medium;
        font-weight: variables.$fw-400;
        margin-bottom: 0.3rem;
    }

    &__pos {
        color: variables.$clr-font-dark-60;
    }
}