@use '../abstracts/variables';

.home-card__sec__title {
    margin-bottom: 2em;
}

.home-card__checkbox {
    margin-top: 2rem;
}

.home-card__checkbox__lbl {
    font-weight: variables.$fw-400;
    color: variables.$clr-font-light;
}


//////////////////////stye for checkbox in home

/* The container */
.home-card__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.home-card__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.home-card__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(213, 213, 213);
}


/* When the checkbox is checked, add a blue background */
.home-card__checkbox input:checked~.home-card__checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.home-card__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.home-card__checkbox input:checked~.home-card__checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.home-card__checkbox .home-card__checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}