@use '../abstracts/variables';

#step2,
#step3 {
    display: none;
}

#message {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;

    svg {
        flex-shrink: 0;
        fill: variables.$clr-font-danger;
        height: 20px !important;
        width: 20px !important;
        vertical-align: middle;
    }
}