.form-img {
    display: none;
}

.card-left-col {
    margin-inline: auto;
}

h1.title {
    margin-bottom: 0.9em;
}

label {
    display: block;
    margin-bottom: .6rem;
    margin-top: 1rem;
}

input[type=submit].home-pri-button {
    margin-top: 3.5rem;
}

a.forgot-pwd {
    display: block;
    width: 15ch;
    margin-top: 4rem;
}

p.question {
    margin-top: 2rem;
}

@media (min-width: 38em) {
    .home-card {
        margin-top: 3em;
        margin-inline: auto;
    }
}

@media (min-width: 63em) {
    .home-wrapper {
        max-width: 1200px;
        margin-inline: auto;
    }

    header {
        margin-top: 2rem;
    }

    .form-img {
        display: block;
        max-height: min(45vw, 500px);
        margin-left: auto;
    }

    .home-card {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);

        .card-left-col {
            margin-inline: 0;
        }
    }
}