.login-img {
    display: none;
}

h1.title {
    margin-top: 1.5em;
    margin-bottom: 0.9em;
}

label {
    display: block;
    margin-bottom: .6rem;
    margin-top: 1rem;
}

input[type=submit].pri-button {
    margin-top: 3.5rem;
}

a.forgot-pwd {
    display: block;
    width: 15ch;
    margin-top: 4rem;
}

p.question {
    margin-top: 2rem;
}