//font
$font-weight-400: 400;
$font-weight-700: 700;


//color
$accent-color: rgb(95, 116, 204);
$dark-color: rgb(38, 44, 51);
$white-color: rgb(255, 255, 255);

$font-color-dark: rgb(37, 36, 36);
$font-color-lighter: rgb(112, 112, 112);