@use '../1-abstracts/variables';

input[type=submit].home-pri-button {
    font-size: variables.$fs-regular;
    font-weight: variables.$fw-700;
    padding-block: 0.9em;
    width: 100%;
    color: variables.$clr-light;
    background-color: variables.$clr-accent;
    border-radius: 5em;
    border: none;

    &:hover {
        background-color: variables.$clr-accent-hover;
    }
}