@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.home-logo a {
  font-weight: 700;
  font-size: 1.5rem;
  color: #252424;
}
.home-logo a .logo-span {
  color: #5f74cc;
}

.home-title {
  font-size: clamp(1.8rem, 3vw, 2rem);
  font-weight: 700;
  color: #252424;
}

.home-sec-title {
  font-weight: 400;
  font-size: clamp(1.3rem, 3vw, 1.4rem);
}

.font-reg-sec {
  font-weight: 400;
  color: #707070;
}

.home-card-background {
  margin: 1rem;
}

.home-card-form-container {
  margin-inline: auto;
}

.home-title {
  margin-bottom: 0.9em;
}

.input-lbl {
  display: block;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.paragraph-helper {
  margin-bottom: 1em;
}

.container-home-btn {
  margin-top: 2.5em;
  text-align: right;
}
.container-home-btn .cancel-button {
  margin-right: 0.8rem;
}

@media (min-width: 38em) {
  .home-card-background {
    margin-top: 2rem;
  }

  .home-card {
    margin-top: 3em;
    margin-inline: auto;
  }
}
@media (min-width: 63em) {
  .home-wrapper {
    max-width: 1200px;
    margin-inline: auto;
  }
}
.form-img {
  display: none;
}

.card-left-col {
  margin-inline: auto;
}

.home-sec-title {
  margin-bottom: 2em;
}

.agree-terms-checkbox {
  margin-top: 2rem;
}

input[type=submit].home-pri-button {
  margin-top: 3.5rem;
}

a.forgot-pwd {
  display: block;
  width: 15ch;
  margin-top: 4rem;
}

p.question {
  margin-top: 2rem;
}

@media (min-width: 63em) {
  .form-img {
    display: block;
    max-width: min(45vw, 400px);
    max-height: min(45vw, 450px);
    margin-left: auto;
  }

  .home-card-with-img {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .home-card-with-img .card-left-col {
    margin-inline: 0;
  }
}
input[type=submit].home-pri-button {
  font-size: 1rem;
  font-weight: 700;
  padding-block: 0.9em;
  width: 100%;
  color: white;
  background-color: #5f74cc;
  border-radius: 5em;
  border: none;
}
input[type=submit].home-pri-button:hover {
  background-color: #9da9db;
}

input[type=submit].sec-button {
  font-size: clamp(0.8rem, 5vw, 1rem);
  font-weight: 700;
  padding-block: 0.4em;
  padding-inline: 1em;
  color: white;
  background-color: #5f74cc;
  border-radius: 6px;
  border: none;
}
input[type=submit].sec-button:hover {
  background-color: #9da9db;
}

input[type=submit].cancel-button {
  font-size: clamp(0.8rem, 5vw, 1rem);
  font-weight: 700;
  padding-block: 0.4em;
  padding-inline: 1em;
  color: #707070;
  background-color: #e8e8e8;
  border-radius: 6px;
  border: none;
}
input[type=submit].cancel-button:hover {
  background-color: #f3efef;
}

input[type=text],
input[type=password],
input[type=number] {
  padding: 0.6em;
  border-radius: 6px;
  border: 2px solid #E1E1E1;
  font-size: clamp(1rem, 5vw, 1.2rem);
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* The container */
.agree-terms-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.agree-terms-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.agree-terms-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.agree-terms-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.agree-terms-checkbox .checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

a {
  font-size: 1rem;
  color: #5f74cc;
}
a:hover {
  font-weight: 700;
}

label.input-lbl {
  font-size: clamp(1rem, 5vw, 1.2rem);
}

.home-card {
  padding-top: 3em;
  background-color: white;
}

.card-left-col {
  max-width: 350px;
}

.home-card-form-container {
  max-width: 450px;
}

@media (min-width: 38em) {
  .home-card-background {
    background-color: #f7f0f0;
  }

  .home-card {
    padding: clamp(3rem, 8vw, 4rem);
    border-radius: 10px;
  }

  .home-card-with-img {
    max-width: calc(350px + 6em);
  }

  .home-card-no-img {
    max-width: calc(500px + 6em);
  }
}
@media (min-width: 63em) {
  .home-card-with-img {
    max-width: 950px;
  }
}
.paragraph-helper {
  color: #707070;
}

.landing-header,
.hero-left-column {
  margin: 1rem;
}

.landing-header {
  display: flex;
  justify-content: space-between;
}
.landing-header nav {
  display: none;
}

.hero-section .hero-left-column {
  margin-top: 8rem;
  text-align: center;
}
.hero-section .hero-left-column .hero-header {
  font-size: clamp(2.3rem, 3vw, 3rem);
  margin-bottom: 2rem;
}
.hero-section .hero-left-column .hero-header span {
  color: #5f74cc;
}
.hero-section .hero-left-column .hero-sub-header {
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
  font-weight: 400;
  color: #707070;
  margin-bottom: 4rem;
}
.hero-section .hero-left-column .start-now-btn {
  padding: 0.6em 2em;
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: 700;
  color: white;
  background-color: #5f74cc;
  border: 2px solid #5f74cc;
  border-radius: 5em;
  margin-bottom: 4rem;
}
.hero-section .hero-left-column .start-now-btn:hover {
  color: #5f74cc;
  background-color: white;
}
.hero-section .hero-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.hero-section .hero-img img {
  width: min(110vw, 850px);
}

.landing-footer {
  text-align: center;
  color: #707070;
  font-size: 1rem;
  margin-top: 5rem;
}

nav.menu-btn {
  display: block;
}

.landing-nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #262c33;
  height: 100vh;
  padding: 1rem;
}
.landing-nav .mobile-menu-exit {
  margin: 0;
}
.landing-nav .landing-pri-nav {
  margin-top: 5em;
}
.landing-nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
.landing-nav li a:hover {
  font-weight: 700;
}

.mobile-menu-exit {
  width: 1.5em;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media (min-width: 38em) {
  .mobile-menu-open,
.mobile-menu-exit {
    display: none;
  }

  .landing-header {
    display: flex;
    margin-top: 2rem;
  }
  .landing-header .logo {
    margin-block: auto;
  }
  .landing-header nav {
    display: flex;
    justify-content: flex-end;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    background-color: white;
  }
  .landing-header nav ul {
    display: flex;
  }
  .landing-header nav a {
    color: #5f74cc;
    font-size: clamp(1rem, 8vw, 1.2rem);
  }
  .landing-header nav ul.landing-pri-nav {
    margin: 0;
  }
  .landing-header nav ul.landing-pri-nav .sign-up-cta {
    font-weight: 700;
    padding-inline: 1.5em;
    border: 2px solid #5f74cc;
    border-radius: 5em;
    margin-left: 2em;
  }
  .landing-header nav ul.landing-pri-nav .sign-up-cta:hover {
    background-color: #5f74cc;
    color: white;
  }
}
@media (min-width: 50em) {
  .landing-header,
.hero-left-column {
    margin: 0;
  }

  .home-body {
    margin-top: 2rem;
    margin-inline: 1rem;
  }

  .landing-header,
.hero-section,
.landing-footer {
    max-width: 1200px;
    margin-inline: auto;
  }

  .hero-section {
    display: flex;
    justify-content: space-between;
  }
  .hero-section .hero-left-column {
    text-align: left;
  }
  .hero-section .hero-left-column .hero-header {
    width: 17ch;
  }
  .hero-section .hero-img {
    overflow: visible;
  }
  .hero-section .hero-img img {
    margin-right: -7%;
    width: min(60vw, 900px);
  }

  .landing-footer {
    text-align: start;
  }
}
