@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.home__logo {
  font-weight: 700;
  font-size: 1.3rem;
  color: #252424;
}
.home__logo .logo-span {
  color: #5f74cc;
}

.home-card-background {
  margin: 1rem;
}
.home-card-background .home-card {
  padding-top: 3em;
  background-color: white;
}
.home-card-background .home-card__container {
  max-width: 400px;
  margin-inline: auto;
}
.home-card-background .home-card__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #252424;
  margin-bottom: 1em;
}
.home-card-background .home-card__sec__title {
  font-weight: 400;
  font-size: 1.1rem;
}
.home-card-background .home-card__lbl {
  display: block;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}
.home-card-background .home-card__p {
  font-weight: 400;
  color: #707070;
  margin-bottom: 1em;
}
.home-card-background .home-card__btn__cont {
  margin-top: 2.5em;
  text-align: right;
}
.home-card-background .home-card__cancel__btn {
  margin-right: 0.8rem;
}

@media (min-width: 38em) {
  .home-card-background {
    background-color: #f7f0f0;
    margin-top: 2rem;
  }

  .home-card {
    padding: 3rem;
    border-radius: 10px;
    margin-top: 3em;
    margin-inline: auto;
  }
  .home-card--with--img {
    max-width: calc(300px + 6em);
  }
  .home-card--no--img {
    max-width: calc(400px + 6em);
  }
}
@media (min-width: 63em) {
  .home-wrapper {
    max-width: 1200px;
    margin-inline: auto;
  }

  .home-card--with--img {
    max-width: 750px;
  }
}
.home-card__left {
  margin-inline: auto;
  max-width: 300px;
}
.home-card__img {
  display: none;
}
.home-card__button {
  margin-top: 3rem;
}
.home-card__p {
  margin-top: 1.5rem;
}

@media (min-width: 63em) {
  .home-card-background .home-card--with--img {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .home-card-background .home-card__left {
    margin-inline: 0;
  }
  .home-card-background .home-card__img {
    display: block;
    max-width: min(45vw, 300px);
    max-height: min(45vw, 350px);
    margin-left: auto;
  }
}
input[type=submit].home-card__button {
  font-size: 1rem;
  font-weight: 700;
  padding-block: 0.7em;
  width: 100%;
  color: white;
  background-color: #5f74cc;
  border-radius: 5em;
  border: none;
}
input[type=submit].home-card__button:hover {
  background-color: #9da9db;
}

input[type=submit].home-card__sec__btn {
  font-size: 0.8rem;
  font-weight: 700;
  padding-block: 0.4em;
  padding-inline: 1em;
  color: white;
  background-color: #5f74cc;
  border-radius: 6px;
  border: none;
}
input[type=submit].home-card__sec__btn:hover {
  background-color: #9da9db;
}

input[type=submit].home-card__cancel__btn {
  font-size: 0.8rem;
  font-weight: 700;
  padding-block: 0.4em;
  padding-inline: 1em;
  color: #707070;
  background-color: #e8e8e8;
  border-radius: 6px;
  border: none;
}
input[type=submit].home-card__cancel__btn:hover {
  background-color: #f3efef;
}

input[type=text].home-card__input,
input[type=password].home-card__input,
input[type=number].home-card__input {
  padding: 0.6em;
  border-radius: 6px;
  border: 2px solid #E1E1E1;
  font-size: 1rem;
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  font-size: 1rem;
  color: #5f74cc;
}
a:hover {
  font-weight: 700;
}

.home__input-lbl {
  font-size: 1rem;
}

.p__helper {
  color: #707070;
}

.landing-header,
.hero-left-column {
  margin: 1rem;
}

.landing-header {
  display: flex;
  justify-content: space-between;
}
.landing-header nav {
  display: none;
}

.hero-section .hero-left-column {
  margin-top: 5rem;
  text-align: center;
}
.hero-section .hero-left-column .hero-header {
  font-size: clamp(2.3rem, 3vw, 3rem);
  margin-bottom: 2rem;
}
.hero-section .hero-left-column .hero-header span {
  color: #5f74cc;
}
.hero-section .hero-left-column .hero-sub-header {
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
  font-weight: 400;
  color: #707070;
  margin-bottom: 4rem;
}
.hero-section .hero-left-column .start-now-btn {
  padding: 0.6em 2em;
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: 700;
  color: white;
  background-color: #5f74cc;
  border: 2px solid #5f74cc;
  border-radius: 5em;
  margin-bottom: 4rem;
}
.hero-section .hero-left-column .start-now-btn:hover {
  color: #5f74cc;
  background-color: white;
}
.hero-section .hero-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.hero-section .hero-img img {
  width: min(110vw, 850px);
}

.landing-footer {
  text-align: center;
  color: #707070;
  font-size: 1rem;
  margin-top: 5rem;
}

nav.menu-btn {
  display: block;
}

.landing-nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #262c33;
  height: 100vh;
  padding: 1rem;
}
.landing-nav .mobile-menu-exit {
  margin: 0;
}
.landing-nav .landing-pri-nav {
  margin-top: 5em;
}
.landing-nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.1rem;
  text-align: right;
}
.landing-nav li a:hover {
  font-weight: 700;
}

.mobile-menu-exit {
  width: 1.5em;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media (min-width: 38em) {
  .mobile-menu-open,
.mobile-menu-exit {
    display: none;
  }

  .landing-header {
    display: flex;
    margin-top: 2rem;
  }
  .landing-header .logo {
    margin-block: auto;
  }
  .landing-header nav {
    display: flex;
    justify-content: flex-end;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    background-color: white;
  }
  .landing-header nav ul {
    display: flex;
  }
  .landing-header nav a {
    color: #5f74cc;
    font-size: 1rem;
  }
  .landing-header nav ul.landing-pri-nav {
    margin: 0;
  }
  .landing-header nav ul.landing-pri-nav .sign-up-cta {
    font-weight: 700;
    padding-inline: 1.5em;
    border: 2px solid #5f74cc;
    border-radius: 5em;
    margin-left: 2em;
  }
  .landing-header nav ul.landing-pri-nav .sign-up-cta:hover {
    background-color: #5f74cc;
    color: white;
  }
}
@media (min-width: 50em) {
  .landing-header,
.hero-left-column {
    margin: 0;
  }

  .home-body {
    margin-top: 2rem;
    margin-inline: 1rem;
  }

  .landing-header,
.hero-section,
.landing-footer {
    max-width: 1200px;
    margin-inline: auto;
  }

  .hero-section {
    display: flex;
    justify-content: space-between;
  }
  .hero-section .hero-left-column {
    text-align: left;
  }
  .hero-section .hero-left-column .hero-header {
    width: 17ch;
  }
  .hero-section .hero-img {
    overflow: visible;
  }
  .hero-section .hero-img img {
    margin-right: -7%;
    width: min(60vw, 900px);
  }

  .landing-footer {
    text-align: start;
  }
}
.home-card__forgot {
  display: block;
  width: 15ch;
  margin-top: 4rem;
}

.home-card__sec__title {
  margin-bottom: 2em;
}

.home-card__checkbox {
  margin-top: 2rem;
}

.home-card__checkbox__lbl {
  font-weight: 400;
  color: #707070;
}

/* The container */
.home-card__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.home-card__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.home-card__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d5d5d5;
}

/* When the checkbox is checked, add a blue background */
.home-card__checkbox input:checked ~ .home-card__checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.home-card__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.home-card__checkbox input:checked ~ .home-card__checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.home-card__checkbox .home-card__checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.home-card__account__img {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}
.home-card__account__img img {
  width: 100%;
  height: auto;
}
.home-card__account__cont {
  display: flex;
}
.home-card__account {
  margin-block: auto;
  margin-left: 1.5rem;
}
.home-card__name {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
.home-card__pos {
  color: #707070;
}

.home-card__mobile__num {
  color: #707070;
  margin-top: 1rem;
}

@media (min-width: 23em) {
  .home-card__mobile__cont {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .home-card__mobile__num {
    margin-top: 0;
  }
}
.home-card__auth__cont {
  display: flex;
}
.home-card__auth__cont img {
  margin-right: 2rem;
}
