@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo a {
  font-weight: 700;
  font-size: 1.5rem;
  color: #252424;
}
.logo a .logo-span {
  color: #5f74cc;
}

body {
  margin: 1rem;
}

.landing-header {
  display: flex;
  justify-content: space-between;
}
.landing-header .landing-nav {
  display: block;
}

.hero-section .hero-left-column {
  margin-top: 8rem;
  text-align: center;
}
.hero-section .hero-left-column .hero-header {
  font-size: clamp(2.3rem, 5vw, 3.5rem);
  margin-bottom: 2rem;
}
.hero-section .hero-left-column .hero-header span {
  color: #5f74cc;
}
.hero-section .hero-left-column .hero-sub-header {
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  font-weight: 400;
  color: #707070;
  margin-bottom: 4rem;
}
.hero-section .hero-left-column .start-now-btn {
  padding: 0.6em 2em;
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 700;
  color: white;
  background-color: #5f74cc;
  border-radius: 5em;
  border: none;
  margin-bottom: 4rem;
}
.hero-section .hero-img {
  display: flex;
  justify-content: center;
}
.hero-section .hero-img img {
  width: min(110vw, 850px);
}

.landing-footer {
  text-align: center;
  color: #707070;
  font-size: 1rem;
  margin-top: 5rem;
}

nav.menu-btn {
  display: block;
}

.landing-nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #262c33;
  height: 100vh;
  padding: 1em;
}
.landing-nav .landing-pri-nav {
  margin-top: 5em;
}
.landing-nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
.landing-nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  width: 1.5em;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}
