@use '../abstracts/variables';

input[type=submit].home-card__button {
    font-size: variables.$fs-regular;
    font-weight: variables.$fw-700;
    padding-block: 0.7em;
    width: 100%;
    color: variables.$clr-light;
    background-color: variables.$clr-accent;
    border-radius: 5em;
    border: none;

    &:hover {
        background-color: variables.$clr-accent-hover;
    }
}

input[type=submit].home-card__sec__btn {
    font-size: variables.$fs-small;
    font-weight: variables.$fw-700;
    padding-block: 0.4em;
    padding-inline: 1em;
    color: variables.$clr-light;
    background-color: variables.$clr-accent;
    border-radius: 6px;
    border: none;

    &:hover {
        background-color: variables.$clr-accent-hover;
    }
}

input[type=submit].home-card__cancel__btn {
    font-size: variables.$fs-small;
    font-weight: variables.$fw-700;
    padding-block: 0.4em;
    padding-inline: 1em;
    color: variables.$clr-font-light;
    background-color: variables.$clr-dark-50;
    border-radius: 6px;
    border: none;

    &:hover {
        background-color: variables.$clr-dark-50-hover;
    }
}