@use '../abstracts/variables';

input[type=submit].home-card__button,
a.home-card__button {
    font-size: variables.$fs-regular;
    font-weight: variables.$fw-700;
    padding-block: 0.7em;
    width: 100%;
    color: variables.$clr-light;
    background-color: variables.$clr-accent;
    border-radius: 5em;
    border: none;

    &:hover {
        background-color: variables.$clr-accent-hover;
    }
}

input[type=submit].home-card__sec__btn {
    font-size: variables.$fs-small;
    font-weight: variables.$fw-700;
    padding-block: 0.4em;
    padding-inline: 1em;
    color: variables.$clr-light;
    background-color: variables.$clr-accent;
    border-radius: 6px;
    border: none;

    &:hover {
        background-color: variables.$clr-accent-hover;
    }
}

input[type=submit].home-card__cancel__btn {
    font-size: variables.$fs-small;
    font-weight: variables.$fw-700;
    padding-block: 0.4em;
    padding-inline: 1em;
    color: variables.$clr-font-dark-60;
    background-color: variables.$clr-dark-50;
    border-radius: 6px;
    border: none;

    &:hover {
        background-color: variables.$clr-dark-50-hover;
    }
}


.multi-step-form-btn-container {
    display: flex;
    column-gap: 1rem;
    margin-top: 3rem;
}

.multi-step-form-btn-next {

    font-size: variables.$fs-small;
    font-weight: variables.$fw-700;
    padding-block: 0.4em;
    padding-inline: 1em;
    color: variables.$clr-light;
    background-color: variables.$clr-accent;
    border-radius: 6px;
    border: none;

    &:hover {
        background-color: variables.$clr-accent-hover;
    }
}

.multi-step-form-btn-prev {

    font-size: variables.$fs-small;
    font-weight: variables.$fw-700;
    padding-block: 0.4em;
    padding-inline: 1em;
    color: variables.$clr-dark-80;
    background-color: variables.$clr-dark-60;
    border-radius: 6px;
    border: none;

    &:hover {
        background-color: variables.$clr-dark-50;
    }
}




.content__btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: variables.$clr-light;

    &:hover {
        background-color: variables.$clr-dark-60;
    }

    img {
        width: 18px;
    }
}


.primary-btn {
    font-size: variables.$fs-small;
    font-weight: variables.$fw-700;
    padding-block: 0.6em;
    padding-inline: 1.5em;
    color: variables.$clr-light;
    background-color: variables.$clr-btn-primary;
    border-radius: 6px;
    border: none;

    &:hover {
        background-color: variables.$clr-btn-primary-hover;
    }
}

.danger-btn {
    font-size: variables.$fs-small;
    font-weight: variables.$fw-700;
    padding-block: 0.6em;
    padding-inline: 1.5em;
    color: variables.$clr-light;
    background-color: variables.$clr-btn-danger;
    border-radius: 6px;
    border: none;

    &:hover {
        background-color: variables.$clr-btn-danger-hover;
    }
}

.success-btn {
    font-size: variables.$fs-small;
    font-weight: variables.$fw-700;
    padding-block: 0.6em;
    padding-inline: 1.5em;
    color: variables.$clr-light;
    background-color: variables.$clr-btn-success;
    border-radius: 6px;
    border: none;

    &:hover {
        background-color: variables.$clr-btn-success-hover;
    }
}