@use '../abstracts/variables';

.home-card {
    padding-top: 3em;
    background-color: variables.$clr-light;
}

.card-left-col {
    max-width: 350px;
}

.home-card-form-container {
    max-width: 450px;
}


@media (min-width: 38em) {
    .home-card-background {
        background-color: rgb(247, 240, 240);
    }

    .home-card {
        padding: clamp(3rem, 8vw, 4rem);
        border-radius: 10px;
    }

    .home-card-with-img {
        max-width: calc(350px + 6em);
    }

    .home-card-no-img {
        max-width: calc(500px + 6em);
    }
}

@media (min-width: 63em) {
    .home-card-with-img {
        max-width: 950px;
    }
}