@use '../abstracts/variables';

input[type=text].home-card__input,
input[type=password].home-card__input,
input[type=number].home-card__input,
input[type=date].home-card__input,
select.home-card__select {
    padding: 0.6em;
    border-radius: 6px;
    border: 2px solid #E1E1E1;
    font-size: variables.$fs-regular;
    width: 100%;
}

//for making the toggle more visible
input[type=password].home-card__input--pass,
input[type=text].home-card__input--pass {
    padding-right: 45px;
}


////////toggle for showing password
.eye {
    position: absolute;
    z-index: 999;
    margin-left: -36px;
    margin-top: 16px;
    background-image: url(../assets/icons/eye.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 18px;
    background-size: contain;
}

.eye-slash {
    position: absolute;
    z-index: 999;
    margin-left: -36px;
    margin-top: 14px;
    background-image: url(../assets/icons/eye-slash.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 18px;
    background-size: contain;
}






//remove up and down arrow in input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}




//////////home input type file
.home-card__file__lbl {
    border-radius: 6px;
    padding: 0.6em 1em;
    color: variables.$clr-font-0;
    background-color: #A6AEAA;
    cursor: pointer;

    &:hover {
        background-color: #B8BCBA;
    }

    input[type=file].home-card__input__file {
        display: none;
    }

    img {
        height: 1rem;
        width: auto;
        margin-right: 0.5rem;
    }
}

.home-card__img__preview {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 2px solid #E1E1E1;
    border-radius: 6px;
    height: 180px;
    max-width: 100%;
    display: flex;
    justify-content: center;

    img {
        border: none;
        max-width: 100%;
        height: auto;
    }
}