@use '../abstracts/variables';

.modal--notif {
    display: none;
}

.modal--message {
    display: none;
}

.modal {
    background-color: variables.$clr-light;
    width: 100%;
    height: 100%;
    padding-block: 1.5rem;
    padding-inline: 0.5rem;
    border-radius: 6px;

    &__title {
        display: block;
        font-size: variables.$fs-large;
        font-weight: variables.$fw-700;
        color: variables.$clr-font-dark-80;
        margin-left: 16px;
        margin-bottom: 1rem;
    }
}

.modal__item {
    cursor: pointer;
    padding-inline: 16px;
    padding-block: 0.5rem;
    background-color: variables.$clr-light;
    display: flex;
    align-items: center;

    &--read {
        background-color: variables.$clr-dark-60;
    }

    &:hover {
        background-color: variables.$clr-dark-60;
    }

    &__img__cont {
        position: absolute;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        vertical-align: middle;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__info {
        color: variables.$clr-font-dark-60;
        margin-left: 4rem;
        width: 100%;
    }

    &__info__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.1rem;
    }

    &__pos {
        display: block;
        font-size: variables.$fs-small;
        color: variables.$clr-accent;
    }

    &__date {
        font-size: variables.$fs-regular;
    }

    &__name {
        display: block;
        font-size: variables.$fs-regular;
        font-weight: variables.$fw-700;
        margin-bottom: 0.1rem;
    }

    &__desc {
        display: block;
        font-size: variables.$fs-regular;
        margin-bottom: 0.1rem;
    }
}



@media (min-width: 30em) {
    .modal {
        //z-index: 999;
        overflow-y: scroll;
        position: absolute;
        width: 400px;
        height: 85vh;
        right: 24px;
        top: 52px;
    }
}