@use '../abstracts/variables';

.modal--notif {
    display: none;
}

.modal--message {
    display: none;
}

.modal--account {
    display: none;
}

.modal--notif--active {
    display: block;
}

.modal--message--active {
    display: block;
}

.modal--account--active {
    display: block;
}

.modal {
    background-color: variables.$clr-light;
    width: 100%;
    height: auto;
    padding-block: 1.5rem;
    padding-inline: 0.5rem;
    margin-top: 62px;

    &__title {
        display: block;
        font-size: variables.$fs-large;
        font-weight: variables.$fw-700;
        color: variables.$clr-font-dark-80;
        margin-left: 16px;
        margin-bottom: 1rem;
    }

    &__acc__cont {
        display: flex;
        flex-direction: column;
        padding-inline: 16px;
        height: auto;
        margin-bottom: 4rem;
    }

    &__acc__pic__cont {
        position: relative;
        width: 70px;
        height: 70px;
        overflow: hidden;
        border-radius: 50%;
        vertical-align: middle;
        margin-bottom: 1rem;
    }

    &__acc__pic {
        width: 100%;
        height: auto;
    }

    &__acc__info {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

    &__acc__pos {
        font-size: variables.$fs-small;
        color: variables.$clr-font-accent;
    }

    &__acc__name {
        font-size: variables.$fs-regular;
        font-weight: variables.$fw-700;
        color: variables.$clr-font-dark-80;
    }

    &__acc__uname {
        font-size: variables.$fs-regular;
        font-weight: variables.$fw-400;
        color: variables.$clr-font-dark-80;
    }

    &__acc__action {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-inline: 16px;
    }

    &__acc__link {
        font-size: variables.$fs-regular;
    }

    &__acc__btn {
        text-align: center;
        font-size: variables.$fs-regular;
        font-weight: variables.$fw-700;
        padding-block: 0.7em;
        width: 100%;
        color: variables.$clr-light;
        background-color: variables.$clr-accent;
        border-radius: 5em;
        border: none;

        &:hover {
            background-color: variables.$clr-accent-hover;
        }
    }
}

.modal__item {
    cursor: pointer;
    padding-inline: 16px;
    padding-block: 0.5rem;
    background-color: variables.$clr-light;
    display: flex;
    align-items: center;

    &--read {
        background-color: variables.$clr-dark-60;
    }

    &:hover {
        background-color: variables.$clr-dark-60;
    }

    &__img__cont {
        position: absolute;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        vertical-align: middle;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__info {
        color: variables.$clr-font-dark-60;
        margin-left: 4rem;
        width: 100%;
    }

    &__info__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.1rem;
    }

    &__pos {
        display: block;
        font-size: variables.$fs-small;
        color: variables.$clr-accent;
    }

    &__date {
        font-size: variables.$fs-regular;
    }

    &__name {
        display: block;
        font-size: variables.$fs-regular;
        font-weight: variables.$fw-700;
        margin-bottom: 0.1rem;
    }

    &__desc {
        display: block;
        font-size: variables.$fs-regular;
        margin-bottom: 0.1rem;
    }
}


@media (min-width: 19em) {
    .modal {
        &__acc__cont {
            flex-direction: row;
            align-items: center;
            height: 80px;
        }

        &__acc__pic__cont {
            position: absolute;
            margin-bottom: 0;
        }

        &__acc__info {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            margin-left: 85px;
        }
    }
}


@media (min-width: 30em) {
    .modal {
        position: fixed;
        border-radius: 6px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        overflow-y: scroll;
        width: 400px;
        max-height: 85vh;
        right: 24px;
        top: 52px;
        margin-top: 0;
        z-index: 1000;
    }
}