@use '../abstracts/variables';

.content {
    margin-top: 62px;

    &--display--none {
        display: none;
    }

    &__title__cont {
        padding-block: 0.8em;
        padding-inline: 16px;
        background-color: variables.$clr-light;
        margin-block: 6px;
        margin-inline: auto;
    }

    &__title {
        font-size: variables.$fs-medium;
        color: variables.$clr-font-dark-80;
    }

    &__body__cont {
        height: auto;
        padding-block: 16px;
        background-color: variables.$clr-light;
        margin-inline: auto;
    }

    &__pages__indicator {
        //display: none;
        gap: 1rem;
        align-items: center;
        justify-content: start;
        margin-inline: 16px;
    }

    &__page__num {
        span {
            color: variables.$clr-font-dark-80;
            font-size: variables.$fs-small;
        }
    }

    &__page__action {
        display: flex;
        gap: 1rem;

        button {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: none;
            background-color: variables.$clr-light;

            &:hover {
                background-color: variables.$clr-dark-50;
            }

            svg {
                height: 12px;
                width: auto;
            }
        }
    }

    &__hr {
        width: 100%;
        height: 1px;
        border: none;
        background-color: variables.$clr-font-dark-50;
        margin-top: 8px;
    }

    &__item__cont {
        max-width: 100%;
        padding-inline: 16px;
        padding-block: 0.8rem;
        color: variables.$clr-font-dark-60;
        cursor: pointer;

        &:hover {
            background-color: variables.$clr-dark-50;
        }
    }

    &__item__link {
        color: variables.$clr-font-dark-60;
    }

    &__item__info__cont {
        max-width: 100%;
    }

    &__item__name,
    &__item__desc {
        display: block;
        margin-bottom: 0.2rem;
        font-size: variables.$fs-regular;
    }

    &__item__name {
        font-weight: variables.$fw-700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__item__desc {
        width: min(100vw, 80vw);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__item__date,
    &__item__status,
    &__item__position {
        font-size: variables.$fs-small;
        font-weight: variables.$fw-400;
    }

    &__item__status,
    &__item__position {
        color: variables.$clr-font-accent;
    }

    .no-data-msg {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        color: variables.$clr-font-dark-60
    }
}





/* Style the Image Used to Trigger the Modal */
.image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.image:hover {
    opacity: 0.7;
}

/* The Modal (background) */
#image-viewer {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
    max-width: 90vw;
}

.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#image-viewer .close {
    position: absolute;
    top: 15px;
    right: 2rem;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#image-viewer .close:hover,
#image-viewer .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }

    #image-viewer .close {
        right: 1rem;
    }
}



@media (min-width: 30em) {
    .content {
        display: block;
    }
}



@media (min-width: 34em) {
    .content {

        &__item__info__cont {
            display: flex;
            gap: 2rem;
            align-items: center;
        }

        &__item__name {
            min-width: 15ch;
            max-width: 15ch;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}



@media (min-width: 60em) {
    .content {
        margin-top: 0;
        max-width: calc(100vw - 286px);

        &--desk--menu--close {
            max-width: calc(100vw - 74px);
        }

        &__body__cont {
            border-radius: 6px;
        }

        &__pages__indicator {
            display: flex;
        }

        &__item__list__cont {
            overflow-y: scroll;
            max-height: calc(100vh - calc(190px + 3.9rem));
            min-height: calc(100vh - calc(190px + 3.9rem));
        }

        &__item__desc {
            width: min(100vw, 100vw);
        }
    }

    .modal-content {
        max-width: 50vw;
    }
}