@use '../abstracts/variables';


.content {

    &__title__cont {
        padding-block: 0.8em;
        padding-inline: 24px;
        background-color: variables.$clr-light;
        margin-block: 6px;
        margin-inline: auto;
    }

    &__title {
        font-size: variables.$fs-regular;
        color: variables.$clr-font-dark-80;
    }

    &__body__cont {
        height: auto;
        padding-block: 24px;
        background-color: variables.$clr-light;
        margin-inline: auto;
    }

    &__item__cont {
        max-width: 100%;
        padding-inline: 24px;
        padding-block: 0.8rem;
        color: variables.$clr-font-dark-60;

        &:hover {
            background-color: variables.$clr-dark-50;
        }
    }

    &__item__info__cont {
        max-width: 100%;
    }

    &__item__name,
    &__item__desc {
        display: block;
        margin-bottom: 0.2rem;
        font-size: variables.$fs-regular;
    }

    &__item__name {
        font-weight: variables.$fw-700;
        white-space: nowrap;
    }

    &__item__desc {
        width: min(100vw, 90vw);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__item__date,
    &__item__status {
        font-size: variables.$fs-small;
        font-weight: variables.$fw-400;
    }

    &__item__status {
        color: variables.$clr-font-accent;
        margin-left: 1em;
    }
}



@media (min-width: 34em) {
    .content {

        &__item__info__cont {
            display: flex;
            gap: 2rem;
            align-items: center;
        }
    }
}



@media (min-width: 60em) {
    .content {
        max-width: calc(100vw - 286px);

        &__body__cont {
            border-radius: 6px;
        }

        &__item__list__cont {
            //background-color: black;
            overflow-y: scroll;
            max-height: calc(100vh - calc(236px + 1rem));
        }
    }
}