@use '../abstracts/variables';

.body-background {
    background-color: variables.$clr-dark-60;
}


@media (min-width: 60em) {
    .body-background {
        height: 100%;
        overflow: hidden;
    }

    .body-wrapper {
        display: grid;
        grid-template-columns: 280px auto;
        grid-template-rows: 56px auto;
        grid-column-gap: 6px;
        grid-template-areas:
            "header header"
            "nav content";

        &--desk--menu--close {
            grid-template-columns: 68px auto;
        }
    }



    .header {
        grid-area: header;
    }

    .nav {
        grid-area: nav;
    }

    .content {
        grid-area: content;
    }
}