@use '../abstracts/variables';

.body-wrapper {
    background-color: variables.$clr-dark-60;
    height: 100vh;
    //max-width: 1400px;
    margin-inline: auto;
}

.header {
    background-color: variables.$clr-accent-darker;
    display: flex;
    justify-content: space-between;
    padding-block: 8px;
    padding-inline: 24px;
    width: 100%;

    &__left__col {
        display: flex;
        align-items: center;
    }

    &__menu {
        cursor: pointer;
        height: 20px;
        width: 20px;
    }

    &__logo {
        display: none;
    }

    &__tool {

        ul {
            display: flex;
            align-items: center;
            padding: 0;

            li {
                margin-left: 2rem;

                .header__inbox,
                .header__notif {
                    cursor: pointer;
                    height: 20px;
                    width: 20px;
                    vertical-align: middle;
                }

                .message-counter,
                .notif-counter {
                    display: block;
                    position: absolute;
                    z-index: 999;
                    margin-top: -25px;
                    margin-left: 13px;
                    text-align: center;
                    padding-block: 0.5px;
                    background-color: #E1284D;
                    color: variables.$clr-font-0;
                    font-size: variables.$fs-xs;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: 1.5px solid variables.$clr-accent-darker;
                }
            }
        }
    }

    &__profile {
        position: relative;
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        vertical-align: middle;

        img {
            cursor: pointer;
            width: 100%;
            height: auto;
        }
    }
}





@media (min-width: 30em) {
    .header {

        &__logo {
            display: block;
            margin-left: 1.5rem;
            font-weight: variables.$fw-700;
            font-size: 1.3rem;
            color: variables.$clr-font-0;
        }

        &__menu {}


        &__tool {
            ul {
                li {
                    margin-left: 3rem;
                }
            }
        }
    }
}