.step-form {
    display: none;
}

.active {
    display: block;
}

.home-card {

    &__left {
        margin-inline: auto;
        max-width: 300px;
    }

    &__img {
        display: none;
    }

    &__button {
        margin-top: 3rem;
    }

    &__p {
        margin-top: 1.5rem;
    }

}

@media (min-width: 63em) {
    .home-card-background {

        .home-card {
            &--with--img {
                display: grid;
                gap: 2rem;
                grid-template-columns: repeat(2, 1fr);
            }

            &__left {
                margin-inline: 0;
            }

            &__img {
                display: block;
                max-width: min(45vw, 300px);
                max-height: min(45vw, 350px);
                margin-left: auto;
            }
        }
    }
}