@use '../abstracts/variables';

.home-card-background {
    margin: 1rem;

    .home-card {
        padding-top: 3em;
        background-color: variables.$clr-light;

        .home-card-form-container {
            max-width: 400px;
            margin-inline: auto;
        }

        .card-left-col {
            max-width: 300px;
        }
    }
}


.home-title {
    margin-bottom: 1em;
}

.home-input-lbl {
    display: block;
    margin-bottom: .6rem;
    margin-top: 1rem;
}

.paragraph-helper {
    margin-bottom: 1em;
}

.container-home-btn {
    margin-top: 2.5em;
    text-align: right;

    .cancel-button {
        margin-right: 0.8rem;
    }
}


@media (min-width: 38em) {
    .home-card-background {
        background-color: rgb(247, 240, 240);
        margin-top: 2rem;
    }

    .home-card {
        padding: 3rem;
        border-radius: 10px;
        margin-top: 3em;
        margin-inline: auto;
    }

    .home-card-with-img {
        max-width: calc(300px + 6em);
    }

    .home-card-no-img {
        max-width: calc(400px + 6em);
    }
}

@media (min-width: 63em) {
    .home-wrapper {
        max-width: 1200px;
        margin-inline: auto;
    }

    .home-card-with-img {
        max-width: 750px;
    }
}