@use '../abstracts/variables';

.home-card-background {
    margin: 1rem;

    .home-card {
        padding-top: 3em;
        background-color: variables.$clr-light;

        &__container {
            max-width: 400px;
            margin-inline: auto;

        }

        &__title {
            font-size: variables.$fs-large;
            font-weight: variables.$fw-700;
            color: variables.$clr-font-dark;
            margin-bottom: 1em;
        }


        &__sec__title {
            font-weight: variables.$fw-400;
            font-size: variables.$fs-medium;
        }


        &__lbl {
            display: block;
            margin-bottom: .6rem;
            margin-top: 1rem;
        }

        &__p {
            font-weight: variables.$fw-400;
            color: variables.$clr-font-light;
            line-height: 1.5;
            margin-bottom: 1em;
        }

        &__btn__cont {
            margin-top: 2.5em;
            text-align: right;
        }

        &__cancel__btn {
            margin-right: 0.8rem;
        }
    }
}









@media (min-width: 38em) {
    .home-card-background {
        background-color: rgb(247, 240, 240);
        margin-top: 2rem;
    }

    .home-card {
        padding: 3rem;
        border-radius: 10px;
        margin-top: 3em;
        margin-inline: auto;

        &--with--img {
            max-width: calc(300px + 6em);
        }

        &--no--img {
            max-width: calc(400px + 6em);
        }
    }


}

@media (min-width: 63em) {
    .home-wrapper {
        max-width: 1200px;
        margin-inline: auto;
    }

    .home-card--with--img {
        max-width: 750px;
    }
}