@use '../abstracts/variables';

.nav {
    display: none;
    position: absolute;
    z-index: 999;
    width: 280px;
    left: 0;
    top: 55px;
    bottom: 0;
    background: variables.$clr-dark-80;
    // height: 100%;

    &__profile {
        cursor: pointer;
        padding: 14px;
        display: flex;
        align-items: center;
    }

    &__profile__pic {
        position: relative;
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__profile__info {
        margin-left: 1rem;
    }

    &__name {
        display: block;
        font-weight: variables.$fw-700;
        font-size: variables.$fs-regular;
        color: variables.$clr-font-0;
    }

    &__position {
        font-weight: variables.$fw-400;
        font-size: variables.$fs-small;
        color: variables.$clr-font-dark-50;
    }

    &__hr {
        margin-inline: 16px;
        margin-bottom: 1rem;
    }

    &__complain__btn {
        cursor: pointer;
        margin-bottom: 1rem;
        margin-left: 14px;
        padding-right: 16px;
        padding-left: 10px;
        padding-block: 10px;
        border-radius: 5em;
        border: none;
        font-weight: variables.$fw-700;
        font-size: variables.$fs-regular;
        color: variables.$clr-font-0;
        background-color: variables.$clr-accent;

        img {
            height: 20px;
            width: 20px;
            vertical-align: middle;
        }

        span {
            vertical-align: middle;
            margin-left: 1.3rem;
        }

        &:hover {
            background-color: variables.$clr-accent-hover;
        }
    }

    ul {
        width: 100%;
        align-items: center;
        padding: 0;

        li {


            a {
                display: block;
                font-size: variables.$fs-regular;
                color: variables.$clr-font-dark-50;
                width: 100%;
                padding-block: 0.6rem;
                padding-inline: 24px;

                &:hover {
                    font-weight: variables.$fw-400;
                    background-color: variables.$clr-dark-100;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        margin-top: -9.5px;
                        margin-left: -24px;
                        z-index: 999;
                        width: 6px;
                        height: 39.2px;
                        background-color: variables.$clr-accent;
                    }
                }

                img {
                    height: 20px;
                    width: 20px;
                    vertical-align: middle;
                }

                span {
                    vertical-align: middle;
                    margin-left: 1.3rem;
                }
            }
        }
    }

    &--active {
        background-color: variables.$clr-dark-100;

        &::before {
            content: "";
            display: block;
            position: absolute;
            margin-top: -9.5px;
            margin-left: -24px;
            z-index: 999;
            width: 6px;
            height: 39.2px;
            background-color: variables.$clr-accent;
        }
    }

}

@media (min-width: 60em) {
    .nav {
        position: relative;
        top: 0;
        height: calc(100vh - 56px);
    }
}