@use '../1-abstracts/variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    a {
        font-weight: variables.$fw-700;
        font-size: 1.5rem;
        color: variables.$clr-font-dark;

        .logo-span {
            color: variables.$clr-accent;
        }
    }
}