@use '../1-abstracts/variables';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: variables.$fs-regular;
    font-weight: variables.$fw-400;
}

.home-logo {
    a {
        font-weight: variables.$fw-700;
        font-size: 1.5rem;
        color: variables.$clr-font-dark;

        .logo-span {
            color: variables.$clr-accent;
        }
    }
}

h1 {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: variables.$fw-700;
    color: variables.$clr-font-dark;
}