//All design related in landing page are only here.

@use '../1-abstracts/variables';

.landing-header,
.hero-left-column {
    margin: 1rem;
}

.landing-header {
    display: flex;
    justify-content: space-between;

    nav {
        display: none;
    }
}

.hero-section {

    .hero-left-column {
        margin-top: 8rem;
        text-align: center;

        .hero-header {
            font-size: clamp(2.3rem, 3vw, 3rem);
            margin-bottom: 2rem;

            span {
                color: variables.$clr-accent;
            }
        }

        .hero-sub-header {
            font-size: clamp(1.2rem, 1.5vw, 1.4rem);
            font-weight: variables.$fw-400;
            color: variables.$clr-font-light;
            margin-bottom: 4rem;
        }

        .start-now-btn {
            padding: 0.6em 2em;
            font-size: clamp(1rem, 3vw, 1.2rem);
            font-weight: variables.$fw-700;
            color: variables.$clr-light;
            background-color: variables.$clr-accent;
            border: 2px solid variables.$clr-accent;
            border-radius: 5em;
            margin-bottom: 4rem;

            &:hover {
                color: variables.$clr-accent;
                background-color: variables.$clr-light;
            }
        }
    }

    .hero-img {
        display: flex;
        justify-content: center;
        overflow: hidden;


        img {
            width: min(110vw, 850px);

        }
    }
}

.landing-footer {
    text-align: center;
    color: variables.$clr-font-light;
    font-size: 1rem;
    margin-top: 5rem;
}

nav.menu-btn {
    display: block;
}

.landing-nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: variables.$clr-dark;
    height: 100vh;
    padding: 1rem;

    .mobile-menu-exit {
        margin: 0;
    }

    .landing-pri-nav {
        margin-top: 5em;
    }

    li {
        a {
            color: variables.$clr-light;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: variables.$fw-700;
            }
        }
    }
}

.mobile-menu-exit {
    width: 1.5em;
    float: right;
    margin: 0.5em;
    cursor: pointer;
}

@media (min-width: 38em) {

    .mobile-menu-open,
    .mobile-menu-exit {
        display: none;
    }

    .landing-header {
        display: flex;
        margin-top: 2rem;

        .logo {
            margin-block: auto;
        }

        nav {
            display: flex;
            justify-content: flex-end;
            position: unset;
            height: auto;
            width: 100%;
            padding: 0;
            background-color: variables.$clr-light;

            ul {
                display: flex;
            }

            a {
                color: variables.$clr-accent;
                font-size: clamp(1rem, 8vw, 1.2rem);
            }

            ul.landing-pri-nav {
                margin: 0;

                .sign-up-cta {
                    font-weight: variables.$fw-700;
                    padding-inline: 1.5em;
                    border: 2px solid variables.$clr-accent;
                    border-radius: 5em;
                    margin-left: 2em;

                    &:hover {
                        background-color: variables.$clr-accent;
                        color: variables.$clr-light;
                    }
                }
            }
        }
    }
}

@media (min-width: 50em) {

    .landing-header,
    .hero-left-column {
        margin: 0;
    }

    body {
        margin: 1rem;
    }

    .landing-header,
    .hero-section,
    .landing-footer {
        max-width: 1200px;
        margin-inline: auto;
    }

    .hero-section {
        display: flex;
        justify-content: space-between;

        .hero-left-column {
            text-align: left;

            .hero-header {
                width: max(10ch, 17ch);
            }
        }

        .hero-img {
            overflow: visible;

            img {

                margin-right: -7%;
                width: min(60vw, 900px);
            }
        }
    }

    .landing-footer {
        text-align: start;
    }
}